@model PagedList.IPagedList<SharedModels.Models.DashBoard>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Dashboard";
}
<div class="container body-content">

    <h2>DashBoard</h2>
    <br />
    <div class="panel panel-success">
        <div class="panel-heading">Elementos Pesquisados Por Tag</div>
        <div class="panel-body">

            @using (Html.BeginForm())
            {
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-2">Termo Pesquisado</label>
                        <div class="col-md-2">
                            @Html.TextBox("SearchString", null, new { @class = "form-control" })
                        </div>
                        <div class="col-md-8">
                            <input type="submit" value="Filtrar" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            }

            <table class="table table-hover table-responsive">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().DescricaoTag)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().TermoPesquisado)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Quantidade)
                    </th>
                </tr>

                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DescricaoTag)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TermoPesquisado)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantidade)
                        </td>
                    </tr>
                }
            </table>
            <div>
                @Html.PagedListPager(Model, page => Url.Action("DashBoard", new { page }))
            </div>

        </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-heading">Pesquisas no mapa</div>
        <div class="panel-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-2">Data Inicial</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" data="true" name="DataInicialPontos" id="DataInicialPontos" value="" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Data Final</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" data="true" name="DataFinalPontos" id="DataFinalPontos" value="" />
                    </div>
                </div>
                <a onclick="CarregarPontos('@Url.Action("PointMaps","Pesquisas")')"><span class="btn btn-success">Pesquisar</span></a>
            </div>
            <br />
            <div id="mapa1" style="display:none"></div>

        </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-heading">Mapa de Calor</div>
        <div class="panel-body">

            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-2">Data Inicial</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" data="true" name="DataInicialCalor" id="DataInicialCalor" value="" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Data Final</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" data="true" name="DataFinalCalor" id="DataFinalCalor" value="" />
                    </div>
                </div>

                <a onclick="MapaCalor('@Url.Action("PointMaps","Pesquisas")')"><span class="btn btn-success">Pesquisar</span></a>

            </div>

            <div id="map2"></div>
        </div>
    </div>

</div>

<script src="https://code.highcharts.com/maps/highmaps.js"></script>
<script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
<script src="~/Scripts/br-all.geo.js"></script>

<script>
    $(function () {
        $("input[data='true']").datepicker({
            calendarWeeks: false,
            todayHighlight: true,
            autoclose: true,
            format: "dd/mm/yyyy"
        });
    });

</script>

<script>
    $(function () {

        // Prepare demo data
        var data = [
            {
                "hc-key": "br-sp",
                "value": 0
            },
            {
                "hc-key": "br-ma",
                "value": 1
            },
            {
                "hc-key": "br-pa",
                "value": 2
            },
            {
                "hc-key": "br-sc",
                "value": 3
            },
            {
                "hc-key": "br-ba",
                "value": 4
            },
            {
                "hc-key": "br-ap",
                "value": 5
            },
            {
                "hc-key": "br-ms",
                "value": 6
            },
            {
                "hc-key": "br-mg",
                "value": 7
            },
            {
                "hc-key": "br-go",
                "value": 8
            },
            {
                "hc-key": "br-rs",
                "value": 9
            },
            {
                "hc-key": "br-to",
                "value": 10
            },
            {
                "hc-key": "br-pi",
                "value": 11
            },
            {
                "hc-key": "br-al",
                "value": 12
            },
            {
                "hc-key": "br-pb",
                "value": 13
            },
            {
                "hc-key": "br-ce",
                "value": 14
            },
            {
                "hc-key": "br-se",
                "value": 15
            },
            {
                "hc-key": "br-rr",
                "value": 16
            },
            {
                "hc-key": "br-pe",
                "value": 17
            },
            {
                "hc-key": "br-pr",
                "value": 18
            },
            {
                "hc-key": "br-es",
                "value": 19
            },
            {
                "hc-key": "br-rj",
                "value": 20
            },
            {
                "hc-key": "br-rn",
                "value": 21
            },
            {
                "hc-key": "br-am",
                "value": 0
            },
            {
                "hc-key": "br-mt",
                "value": 23
            },
            {
                "hc-key": "br-df",
                "value": 24
            },
            {
                "hc-key": "br-ac",
                "value": 25
            },
            {
                "hc-key": "br-ro",
                "value": 26
            }
        ];

        // Initiate the chart
        $('#map2').highcharts('Map', {

            title: {
                text: 'Pesquisas por estado'
            },

            mapNavigation: {
                enabled: true,
                buttonOptions: {
                    verticalAlign: 'top'
                }
            },

            colorAxis: {
                min: 0
            },

            series: [{
                data: data,
                mapData: Highcharts.maps['countries/br/br-all'],
                joinBy: 'hc-key',
                name: 'Pesquisas Efetuadas',
                states: {
                    hover: {
                        color: '#BADA55'
                    }
                },
                dataLabels: {
                    enabled: true,
                    format: '{point.name}'
                }
            }]
        });
    });
</script>