@model PagedList.IPagedList<SharedModels.Models.DashBoard>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Dashboard";
}
<div class="container body-content">

    <h2>DashBoard</h2>
    <br />
    <div class="panel panel-success">
        <div class="panel-heading">Elementos Pesquisados Por Tag</div>
        <div class="panel-body">
            <div>
                @Html.PagedListPager(Model, page => Url.Action("DashBoard", new { page }))
            </div>
            <table class="table table-hover table-responsive">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().DescricaoTag)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().TermoPesquisado)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().DataPesquisa)
                    </th>
                </tr>

                @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DescricaoTag)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TermoPesquisado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataPesquisa)
                    </td>
                </tr>
                }
            </table>
            <div>
                @Html.PagedListPager(Model, page => Url.Action("DashBoard", new { page }))
            </div>

        </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-heading">Pesquisas no mapa</div>
        <div class="panel-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-2">Data Inicial</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="DataInicialPontos" id="DataInicialPontos" value="" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Data Final</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="DataFinalPontos" id="DataFinalPontos" value="" />
                    </div>
                </div>
                <a onclick="CarregarPontos('@Url.Action("PointMaps","Pesquisas")')"><span class="btn btn-success">Pesquisar</span></a>
            </div>
            <br />
            <div id="mapa1" style="display:none"></div>

        </div>
    </div>


</div>
<script>
    $(function () {
        $('.form-control').datepicker({
            calendarWeeks: false,
            todayHighlight: true,
            autoclose: true,
            format: "dd/mm/yyyy"
        });
    });

</script>



