@model IEnumerable<SharedModels.Models.DashBoard>

@{
    ViewBag.Title = "DashBoard";
}
<div class="container body-content">

    <h2>DashBoard</h2>
    <h3>Elementos Pesquisados Por Tag</h3>

    <table class="table table-hover table-condensed table-responsive">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoTag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TermoPesquisado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPesquisa)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DescricaoTag)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TermoPesquisado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataPesquisa)
                </td>
            </tr>
        }

    </table>

    <h3>Pesquisas no mapa</h3>
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-2">Data Inicial</label>
            <div class="col-md-10">
                <input type="date" class="form-control" name="DataInicialPontos" id="DataInicialPontos" value="DataInicial" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Data Final</label>
            <div class="col-md-10">
                <input type="date" class="form-control" name="DataFinalPontos" id="DataFinalPontos" value="DataInicial" />
            </div>
        </div>
        <a onclick="CarregarPontos('@Url.Action("PointMaps","Pesquisas")')"><span class="btn btn-success">Pesquisar</span></a>
    </div>

    <div id="mapa1"></div>

</div>

<script>

</script>



