@model SharedModels.Models.CamposPesquisa

@{
    ViewBag.Title = "Detalhes";
}
<div class="container body-content">
    <h2>Detalhes</h2>

    <div>
        <h4>Campos de Pesquisa</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Tags.Tag)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tags.Tag)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IdCampoTexto)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IdCampoTexto)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.IdCampoBotao)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IdCampoBotao)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TipoCampo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TipoCampo)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.CamposPesquisaId }, new { @class = "btn btn-success" }) 
        @Html.ActionLink("Retornar", "Index", null, new { @class = "btn btn-warning" })
    </p>
</div>