@model IEnumerable<SharedModels.Models.CamposPesquisa>

@{
    ViewBag.Title = "Início";
}
<div class="container body-content">
    <h2>Início - Campos de Pesquisa</h2>

    <p>
        @Html.ActionLink("Criar Novo", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tags.Tag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCampoTexto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCampoBotao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoCampo)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tags.Tag)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCampoTexto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCampoBotao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoCampo)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.CamposPesquisaId }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.CamposPesquisaId }) |
                    @Html.ActionLink("Excluir", "Delete", new { id = item.CamposPesquisaId }) |
                    @Html.ActionLink("Download Script", "Script", new { id = item.CamposPesquisaId })
                </td>
            </tr>
        }

    </table>
</div>