<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nameless - Esteja um Passo a Frente</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/leafletjs")
    @{
        string UsuarioLogado = User.Identity.IsAuthenticated ? "block" : "none";       
    }
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("NameLess", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li style="display: @UsuarioLogado"> @Html.ActionLink("Campos de Pesquisa", "Index", "CamposPesquisas")</li>
                    <li style="display: @UsuarioLogado"> @Html.ActionLink("Tags", "Index", "Tags")</li>
                    <li style="display: @UsuarioLogado"> @Html.ActionLink("Pesquisas", "DashBoard", "Pesquisas")</li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - NameLess</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/sitejs")
    @Scripts.Render("~/bundles/mapsjs")




    @RenderSection("scripts", required: false)
</body>
</html>
