@model SharedModels.Models.Tags

@{
    ViewBag.Title = "Detalhes";
}
<div class="container body-content">
    <h2>Detalhes</h2>

    <div>
        <h4>Tags</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Tag)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tag)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DescricaoTag)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DescricaoTag)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ObservacaoTag)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ObservacaoTag)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Retornar", "Index", null, new { @class = "btn btn-warning" })
        @Html.ActionLink("Editar", "Edit", new { id = Model.TagId }, new { @class = "btn btn-success" })
    </p>
</div>